.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    & li {
        width: 30px;
        height: 30px;
        border: 1px solid #BDBDBD;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 5px;
        }
        font-size: 14px;
    }
    & li a {
        line-height: 30px;
        padding: 0 10px;
    }
    &  .selected {
        background: #000;
        color: #8d8d8d;
    }
}